* {
    margin: 0;
    padding: 0px;
    color: #b7b7b7;
    text-decoration: none;
    line-height: 1.2rem;
    list-style: none;
    word-spacing: .1rem;
}

body{
    background-color: #2a282d;
    color: #c0c0c0;
    font-family: 'Merriweather Sans', sans-serif;
    width: auto;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 100vh;
    padding: 2rem 3rem;
    box-sizing: border-box;
    column-gap: 4rem;
}

/* inicio da coluna esquerda*/

.profile{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 2rem;
}

.photo-profile, .adress, .tecnologies, .experience, .education {
    background-color: #393E46;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 1px 5px #000000;
}


/* photo, nome e atividade profisional */

.photo-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.photo-profile img{
    width: 8rem;
    height: 8.3rem;
    border-radius: 8rem;
    border: 3px solid #7116fa;
    box-sizing: border-box;

}

.photo-profile h3{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 700;
}

.photo-profile p{
    margin-top: .5rem;
    font-size: .8rem;
    font-weight: 300;
}


/* Inicio do local, contatos e redes sociais*/
.adress ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.adress ul li{
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: .8rem;
    
}


.adress a:hover{
    color: #A020F0;
}
/* fim do local, contatos e redes sociais*/

/* Inicio das Tecnologias */
.tecnologies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.tecnologies h3{
    font-size: 1.3rem;
}

.tecnologies .tech{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: .5rem;
    
}

.tecnologies .tech a{
    width: 5rem;
    height: 1.5rem;
    font-size: .6rem;
    font-weight: 700;
    background-color: #A66CFF;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    color: #222831;
}

.tecnologies .tech a:hover{
    background-color: #c0c0c0;
}
/* Fim das Tecnologias */

/* inicio das experiencias */
.experience h3, .education h3{
    font-size: 1.3rem;
}

.experience .companies ul, .education .courses ul{
    padding: 0 2.5rem;    
}

.experience .companies ul li, .education .courses ul li{
    margin-top: 1.5rem;
    list-style: square;
    text-align: start;
}

.experience .companies ul li h4, .education .courses ul li h4{
    font-size: .9rem;
    font-weight: 700;
}

.experience .companies ul li p, .education .courses ul li p{
    font-size: .7rem;
    font-weight: 300;
}

.experience .companies ul li p:last-child, .education .courses ul li p:last-child{
    font-weight: 400;
}
/* Fim das experiencias */


/* inicio da coluna direita*/
.conteudo{
    width: 65vw;
}

header, .projects, section, .posts{
    background-color: #393E46;
    border-radius: .5rem;
    padding: 1.5rem;
    box-shadow: 0 1px 5px #000000; 
       
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    
}

header a{
    font-size: .8rem;
}

header a:hover{
    color: #A66CFF;
}

/*inicio do conteudo principal*/

main{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    margin-top: 2rem;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 0.8rem;
}
.projects .title{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.projects .title a:hover{
    color: #A66CFF;
}

.projects .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects .icons ul{
    display: flex;
    justify-content: start;
    gap: 3rem;
}

.projects .icons ul li{
    display: flex;
    align-items: center;
    gap: .5rem;
}


section, .posts{
    grid-column-start: 1;
    grid-column-end: 3;

}

section h3{
    font-size: 1.2rem;
}

.posts {
    display: flex;
    gap: 1.5rem;
}

.posts img{
    width: 6rem;
    height: 6rem;
    border-radius: 8rem;
    box-sizing: border-box;
}

.posts .content-post{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.posts .content-post .content-title h4{
    font-size: 1.1rem;
    font-weight: 700;
}
.posts .content-post .content-title p{
    margin-top: .5rem;
    font-size: .8rem;
}

.posts .content-post .hashtag ul{
    display: flex;
    margin-top: .5rem;
    font-size: .8rem;
    gap: 2rem;
}

/*inicio do rodapé*/
.container footer{
    grid-column-start: 1;
    grid-column-end: 3;   
    padding-bottom: .8rem;
    font-size: .8rem;
    text-align: center;
}
/*fim do rodapé*/

/*Inicio da versão mobile*/

@media (max-width:1080px){

    .container{ 
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
        margin: 2rem auto;
        box-sizing: border-box;    
    }

    .conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    main{
        gap: 2rem 0;
    }
    

    .container .conteudo header{
        width: 20rem;
        margin-top: 2rem;
    }

   
    .projects{
        display: grid;
        grid-column: 1;
        width: 20rem;
    }

    section, .posts, .content-post {
        width: 20rem;
    }

    .posts img{
        width: 3rem;
        height: 3rem;
    }

    .posts{
        display: flex;
        flex-direction: column;
    }

    .posts .content-post .hashtag ul{
        gap: .5rem;
    }

    footer{
        margin-top: 2rem;
        padding-bottom: .8rem;
        font-size: .8rem;
        text-align: center;
    }
    
}